<app-header backButton="/auth" title="Registro de Usuario"></app-header>


<ion-content>

  <div class="d-flex-center">

    <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()" >

      <app-logo></app-logo>

      <!-- NOMBRE -->

      <app-form-field
        label="Nombre"
        [control]="form.controls.nombre"
        type="text"
        icon="person-outline"
        autocomplete="nombre">
      </app-form-field>      

      <!-- APELLIDO -->

      <app-form-field
        label="Apellidos"
        [control]="form.controls.apellido"
        type="text"
        icon="person-outline"
        autocomplete="apellido">
      </app-form-field>

      <!-- rut -->

      <app-form-field
        label="rut"
        [control]="form.controls.rut"
        type="text"
        icon="card-outline"
        autocomplete="rut">
      </app-form-field>

      <!-- Telefono -->  
       
      <app-form-field
        label="Teléfono"
        [control]="form.controls.telefono"
        type="text"
        icon="phone-portrait-outline"
        autocomplete="telefono">
      </app-form-field>
      

      <!-- Email -->

      <app-form-field
        label="email"
        [control]="form.controls.email"
        type="text"
        icon="mail-outline"
        autocomplete="email">
      </app-form-field>      

      <!-- password -->

      <app-form-field
        label="password"
        [control]="form.controls.password"
        type="text"
        icon="lock-closed-outline"
        autocomplete="password">
      </app-form-field>

      <!-- repassword -->

      <app-form-field
        label="password"
        [control]="form.controls.password"
        type="text"
        icon="lock-closed-outline"
        autocomplete="password">
      </app-form-field>

      <ion-button expand="block" mode="ios" class="submit" type="submit"
        [disabled]="form.invalid">
        Registrate
        <ion-icon slot="end" name="person-add-outline"></ion-icon>
      </ion-button>

    </form>

  </div>
 
</ion-content>

