<app-header backButton="/auth" title="Reset password"></app-header>
<ion-content>

<div class="d-flex-center">

  <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">
     

    <app-logo></app-logo>

    

    <!-- input para el usuario (password) -->
    <app-custom-input
      autocomplete=""
      icon="mail-outline"
      type="password"
      label="nueva password"
      ></app-custom-input>

      <!-- input para el usuario (confirm password) -->
    <app-custom-input
    autocomplete=""
    icon="mail-outline"
    type="password"
    label="confirma la nueva password"
    ></app-custom-input>
 

      
      
      <ion-button expand="block" mode="ios" class="submit" type="submite" [disabled]="form.invalid">
        Recuperar contraseña
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>

      
    
     
    
      </form>


</div>
