.fab-label {
    position: absolute;
    bottom: 70px; /* Ajusta según sea necesario */
    right: 10px;  /* Ajusta según sea necesario */
    background-color: white; /* O cualquier color que prefieras */
    padding: 5px 10px; /* Espaciado alrededor del texto */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Sombra para mejor visibilidad */
    font-size: 12px; /* Tamaño de fuente */
}