<app-header backButton="home" title="Agrega un vehiculo"></app-header>

<ion-content>

  <div class="menu-home">

    <h4>Ingresa los datos de tu vehiculo</h4>
    <img src="https://tekcvtjzfewjaqgkatkh.supabase.co/storage/v1/object/sign/logo/car-stainless-logo-png.webp?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJsb2dvL2Nhci1zdGFpbmxlc3MtbG9nby1wbmcud2VicCIsImlhdCI6MTczMDIyODc3NCwiZXhwIjozMTU1Mjk4NjkyNzc0fQ.e6lf_sN-Y7g989IelUnmUdMI4I5myxAW5kH4sNsyu44&t=2024-10-29T19%3A06%3A15.676Z" alt="">

    <form [formGroup]="form" class="auth-form">
      <app-custom-input
      autocomplete="patente"
      type="text"
      label="Patente"
      ></app-custom-input>

    <app-custom-input
      autocomplete="marca"
      type="text"
      label="Marca"></app-custom-input>

    <app-custom-input
      autocomplete="modelo"
      type="text"
      label="Modelo"></app-custom-input>

    <app-custom-input
      autocomplete="color"
      type="text"
      label="Color"></app-custom-input>

    <app-custom-input
      autocomplete="tipo"
      type="text"
      label="Tipo"></app-custom-input>

    <ion-button color="primary" mode="ios">
      Guardar
    </ion-button>

    </form>
    

  </div>

</ion-content>
