<app-header backButton="/main/home"
  title=" Admin Estacionamientos"></app-header>

<ion-content>

  <div class="menu-home">
    <app-logo></app-logo>
    <ion-list>
      <ion-item-sliding class="menu-home" *ngFor="let p of parkings">
        <ion-item>
          <ion-card>
            <img [src]="p.imagen" />
            <ion-card-header>
              <ion-card-title>{{p.nombre_parking}}</ion-card-title>              
            </ion-card-header>
            <ion-card-content>
              <strong>Direccion:</strong>{{p.direccion}} 
              <br> 
              <strong>valor:</strong> ${{p.valor }} por minuto
              <br>
              <strong>capacidad:</strong>{{p.capacidad}}
              <br>
              <strong>Disponible:</strong>{{disponible(p)}}
              <ion-icon name="ellipse" class="ellipse-outline" style="color: rgb(7, 245, 46);"></ion-icon>
              <br>
              <strong>Reservas:</strong>{{reserva(p)}}
              <ion-icon name="ellipse" class="ellipse-outline" style="color: orange"></ion-icon>
              <br>
              <ion-button expand="block">Reserva</ion-button>
              <ion-button expand="block">Arrienda</ion-button>
              <br>
            </ion-card-content>
          </ion-card>
          <ion-item-options>
            <ion-item-option class="option-btn">
              <ion-icon name="create-outline"></ion-icon>
            </ion-item-option>

            <ion-item-option class="option-btn" color="danger" style="margin-top: 10px; margin-bottom: 10p">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item>
      </ion-item-sliding>
    </ion-list>

  </div>
</ion-content>
